body
{
    margin:0;
    padding: 0;
    background-color: rgb(240, 240, 240);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.upper-case
{
    text-transform: uppercase;
}

header h1
{
    margin: 0;
    color: white;
}

header
{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(80, 139, 179);
}

hr
{
    border-color: gray;
}

.container
{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.wrapper
{
    width: 870px;
}

form
{
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

form input
{
    height: 45px;
    width: 760px;
    font-size: 20px;
    border: none;
    box-shadow: 2px 2px 5px grey;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    margin-right: 5px;
}

form button
{
    width: 85px;
    height: 55px;
    border: none;
    background-color: red;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey;
}